<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="litlenamewebsite" />
    <meta name="keywords" content="onekeywords, twokeywords" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />

    <link href="stylesheet.css" rel="fonts/MyriadPro/stylesheet.css" />
    <link rel="stylesheet" href="fonts/HelveticaNeueCyr-Bold/style.css" />
    <link rel="stylesheet" href="fonts/HelveticaNeueCyr-Medium/style.css" />
  </head>
  <body>
    <section class="sign-up sign-up__gradient sign-up--position-center">
      <div class="wrapper sign-up__space-between">
        <h1 class="sign-up__title">Clean <strong>Sign Up</strong> Form</h1>

        <form
          class="form-sign-up form-sign-up__form"
          action="/createNew"
          method="post"
          name="form-sign-up"
        >
          <h2 class="form-sign-up__title">Sing up</h2>
          <p class="form-sign-up__text-under-title">
            Want to sign up fill out this form!
          </p>
          <label class="form-sign-up__label" for="form-sign-up-first-name"
            >First Name
            <input
              class="form-sign-up__input"
              type="text"
              name="form-sign-up-first-name"
              id="form-sign-up-first-name"
              placeholder="First name:"
              required
            />
          </label>

          <label class="form-sign-up__label" for="form-sign-up-last-name"
            >Last Name
            <input
              class="form-sign-up__input"
              type="text"
              name="form-sign-up-last-name"
              id="form-sign-up-last-name"
              placeholder="Last name:"
              required
            />
          </label>

          <label class="form-sign-up__label" for="form-sign-up-password"
            >Password
            <input
              class="form-sign-up__input"
              type="password"
              name="form-sign-up-password"
              id="form-sign-up-password"
              placeholder="Password"
              required
            />
          </label>

          <label
            class="form-sign-up__label form-sign-up__label-terms"
            for="form-sign-up-terms"
          >
            <input
              class="form-sign-up__input-terms"
              type="checkbox"
              name="form-sign-up-terms"
              id="form-sign-up-terms"
              required
            />
            <span class="form-sign-up__input-terms-true"></span>
            I accept the terms of use</label
          >
          <button class="form-sign-up__btn-submit" type="submit">
            <p class="form-sign-up__text-inside-btn-submit">Sign Up</p>
          </button>
        </form>
        <footer class="footer footer__box">
          <p class="footer__title">Created by design deck</p>
          <p class="footer__text">www.designdeck.co.uk</p>
        </footer>
      </div>
    </section>
    <script defer src="index.js"></script>
  </body>
</html>
